#ask-weather {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  
  #weather-result {
    text-align: left;
    font-size: 20px;
  }

 span {
      color: blue;
  }

  li{
    color: red;
  }